# Flower Authentication
## OAuth2 Configuration (uncomment if you want to use OAuth2 authentication)

# FLOWER_OAUTH2_GENERIC_BASE_URL="<base-url-of-your-oauth2-provider>"
## Example: For AWS Cognito, it would be something like "https://cognito-idp.<region>.amazonaws.com/<user_pool_id>"
# FLOWER_AUTH_PROVIDER="flower.views.auth.GenericOAuth2LoginHandler"
# FLOWER_AUTH="enable"
# FLOWER_OAUTH2_KEY="<your_client_id>"
# FLOWER_OAUTH2_SECRET="<your_client_secret>"
# FLOWER_OAUTH2_REDIRECT_URI="http://localhost:5555/login"
## Example: For local development, it would be "http://localhost:5555/login"

## Basic Authentication (uncomment if you want to use basic authentication)

# FLOWER_BASIC_AUTH="user1:password1,user2:password2"

# Celery Configuration
CELERY_BROKER_URL="redis://redis-stream:6379/0"
CELERY_RESULT_BACKEND="redis://redis-stream:6379/0"
