*.db
*.egg
*.egg-info
*.egg/
*.eggs
*.pyc
*.retry
*$py.class
*~
.*.sw[po]
.build/
.cache/
.directory
.DS_Store
.idea
.mypy_cache/
.project
.pydevproject
.ropeproject/
.tox/
.vagrant
.vscode/
build/
data/
dist/
doc/__build/*
Documentation/
env
erl_crash.dump
flower_db_file.bak
flower_db_file.dat
flower_db_file.dir
Pipfile*
pip-log.txt
venv
