dist: focal
language: python
os:
  - linux
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
  - "pypy3"
install:
  - pip install tox-travis
before_script:
  - pip freeze
script:
  - tox
