.bg-green {
  background-color: #f0ffeb;
}

.dataTables_wrapper {
  border: 1px solid #c7ecb8;
}

.dataTables_filter input {
  width: 50%;
  text-indent: 5px;
}

.dataTables_length {
  margin: 10px;
}

div.dataTables_wrapper .dataTables_filter input {
  width: 100%;
  margin: 10px;
  border: 1px solid #c7ecb8;
}

.dataTables_info {
  padding: 5px;
}

@media (min-width: 768px) {
  div.dataTables_wrapper .dataTables_filter input {
      width: 500px;
  }
}

.overflow-auto {
  max-width: 400px;
  text-overflow: ellipsis;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
