{% import pprint %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flower</title>
  	<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
	  <link rel="stylesheet" href="{{ static_url('css/datatables-1.13.4.min.css') }}">
	  <link href="{{ static_url('css/flower.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstap overwritable styles -->
    <style type="text/css">
      body { padding-top: 60px; }
    </style>

    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/rickshaw.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/flower.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery.dataTables.select.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery.dataTables.buttons.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery.dataTables.colReorder.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery.dataTables.css') }}" rel="stylesheet">

    {% block extra_styles %}
    {% end %}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url('img/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url('img/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url('img/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ static_url('img/apple-touch-icon-57-precomposed.png') }}">
  </head>
  <body class="m-2">
    {% block navbar %}
      {% module Template("navbar.html", active_tab="") %}
    {% end %}

    <div class="container-fluid my-2">
      <div id="alert-container"></div>
      <input type="hidden" value="{{ url_prefix or '' }}" id='url_prefix'>
    </div>

    {% block container %}
    {% end %}

    <script src="{{ static_url('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ static_url('js/datatables-1.13.4.min.js') }}"></script>
    <script src="{{ static_url('js/moment-2.29.4.min.js') }}"></script>
    <script src="{{ static_url('js/moment-timezone-with-data-2.29.4.min.js') }}"></script>
	  <script src="{{ static_url('js/flower.js') }}"></script>
    {% block extra_scripts %}
    {% end %}
  </body>
</html>