{% extends "base.html" %}
{% import 'navbar.html' as navbar_macro %}

{% block navbar %}
  {{ navbar_macro.navbar(active_tab="dashboard") }}
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
        <a id="btn-active" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=STARTED">Active: {{ workers|accumulate('active') }}</a>
        <a id="btn-processed" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}">Processed: {{ workers|accumulate('task-received') }}</a>
        <a id="btn-failed" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=FAILURE">Failed: {{ workers|accumulate('task-failed') }}</a>
        <a id="btn-succeeded" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=SUCCESS">Succeeded: {{ workers|accumulate('task-succeeded') }}</a>
        <a id="btn-retried" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=RETRY">Retried: {{ workers|accumulate('task-retried') }}</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

    <table id="workers-table" class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Worker Name</th>
            <th>Status</th>
            <th>Active</th>
            <th>Processed</th>
            <th>Failed</th>
            <th>Succeeded</th>
            <th>Retried</th>
            <th>Load Average</th>
        </tr>
      </thead>
      <tbody>
        {% for name, info in workers.items() %}
        <tr id="{{ name }}">
            <td>{{ name }}</td>
            <td>{{ info.get('status', None) }}</td>
            <td>{{ info.get('active', 0) or 0 }}</td>
            <td>{{ info.get('task-received', 0) }}</td>
            <td>{{ info.get('task-failed', 0) }}</td>
            <td>{{ info.get('task-succeeded', 0) }}</td>
            <td>{{ info.get('task-retried', 0) }}</td>
            <td>{{ humanize(info.get('loadavg', 'N/A')) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  var autorefresh = {{ autorefresh }};
</script>
{% endblock %}