{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="monitor") %}
{% end %}

{% block container %}

<div class="container dashboard">
    <div class="row">
        <div class="offset8 span4"> 
            <div class="pull-right">
                Showing Time:
                <select id="time_window" onchange="flower.update_time_window()">
                    <option value="5">Last 5 secs</option>
                    <option value="60">Last minute</option>
                    <option value="900">Last 15 minutes</option>
                    <option value="3600">Last hour</option>
                    <option value="10800">Last 3 hours</option>
                    <option value="21600">Last 6 hours</option>
                    <option value="86400">Last day</option>
                    <option value="259200">Last 3 days</option>
                    <option value="" selected>All time</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <a name="succeeded"></a>
            <div class="graph content">
                <a href="#succeeded"><h3>Succeeded tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-succeeded" class="chart"></div><br>
                    <div id="legend-succeeded" class="legend"></div>
                    <div id="timeline-succeeded" class="timeline"></div>
                </div>
            </div>
        </div>

        <div class="span6">
            <a name="failed"></a>
            <div class="graph content">
                <a href="#failed"><h3>Failed tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-failed" class="chart"></div><br>
                    <div id="legend-failed" class="legend"></div>
                    <div id="timeline-failed" class="timeline"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <a name="times"></a>
            <div class="graph content">
                <a href="#times"><h3>Task times</h3></a>
                <div class="chart-container">
                    <div id="chart-time" class="chart"></div><br>
                    <div id="legend-time" class="legend"></div>
                    <div id="timeline-time" class="timeline"></div>
                </div>
            </div>
        </div>

        <div class="span6">
            <a name="broker"></a>
            <div class="graph content">
                <a href="#broker"><h3>Queued tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-broker" class="chart"></div><br>
                    <div id="legend-broker" class="legend"></div>
                    <div id="timeline-broker" class="timeline"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
