<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Celery Flower</a>
      <div class="nav-collapse">
        <ul class="nav">
            <li {% if active_tab == "dashboard" %}class="active"{% end %}><a href="/dashboard{% if wsport %}?wsport={{wsport}}{% end %}">Dashboard</a></li>
            <li {% if active_tab == "tasks" %}class="active"{% end %}><a href="/tasks?limit=100{% if wsport %}&wsport={{wsport}}{% end %}">Tasks</a></li>
            <li {% if active_tab == "broker" %}class="active"{% end %}><a href="/broker{% if wsport %}?wsport={{wsport}}{% end %}">Broker</a></li>
            <li {% if active_tab == "monitor" %}class="active"{% end %}><a href="/monitor{% if wsport %}?wsport={{wsport}}{% end %}">Monitor</a></li>
          <li><a href="http://flower.readthedocs.org" target="_blank">Docs</a></li>
          <li><a href="https://github.com/mher/flower" target="_blank">Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
