{% extends "base.html" %}

{% block container %}
  <div class="container-fluid">
    <h1>Workers</h1>

    <p>
      <strong>Note:</strong> You can get more info by clicking on worker name
    </p>

    <div class="hidden">
        <table>
            <tr id="workers-table-row">
                <td><a href=""></a></td>
                <td><span class="label label-success">Online</span></td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Shut Down<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="worker_command(event)">Shut Down</a></li>
                            <li><a href="#" onclick="worker_command(event)">Restart Pool</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% end %}
